.network-select {
  width: 80%;
  padding-left: 20px;
}

.network-select > div {
  border: 1px solid black !important;
}

.network-select > div > div > div {
  color: black;
}

#contract-code-form input:disabled {
  background-color: #aaa;
  color: white !important;
  border: none !important;
}
