#dialog #react-select-lookup-label {
  display: flex;
  padding-left: 0px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.network-select {
  width: 80%;
  padding-left: 20px;
}

.network-select > div {
  border: 1px solid #35636e !important;
}

.network-select > div > div > div {
  color: black;
}

#contract-code-form input:disabled {
  background-color: white;
  color: #aaa !important;
  border: 1px solid #aaa !important;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #776a6a;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.active {
  opacity: 1 !important;
  background-color: #4caf50 !important;
}
