.last-originated-contract-div button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: 1px solid #35636e;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  font-size: 11px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  color: white;
  background: #35636e;
  margin-top: 10px;
}

.last-originated-contract-div button:focus {
  outline: none;
}

.reset-button {
  background-color: red !important;
  border: 1px solid red !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.reset-button:focus {
  outline: none;
}
