.newly-originated-contract {
  border: 2px solid #35636e;
  padding: 10px;
  border-radius: 3px;
  width: 85%;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 0px;
}

.contract-result-button {
  border: 2px solid #35636e;
  border-radius: 3px;
  font-size: 11px;
  padding: 10px;
  margin-bottom: 8px;
  margin-right: 10px;
  text-transform: uppercase;
  background-color: white;
  color: #35636e;
}

.contract-result-button:hover {
  background-color: #35636e;
  color: white;
  cursor: pointer;
}

.contract-result-explorers {
  display: inline-block;
  margin-left: 15px;
}

@media only screen and (max-width: 560px) {
  .newly-originated-contract {
    font-size: 13px;
  }
}
