.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}

.left-container {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 20px;
}

.right-container {
  padding: 20px;
}
