body {
  overflow-x: hidden;
  display: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  color: #35636e;
}

.title-group {
  width: 630px;
  margin: 0 auto;
  line-height: 2em;
  margin-top: 50px;
}

.title-group h4 {
  margin-top: -15px;
}

#wallet {
  margin: -20px auto;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .title-group {
    width: 450px;
  }
  .title-group img {
    width: 300px;
  }
  .built-with-taquito-logo img {
    transform: translateY(120%) !important;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .title-group {
    width: 300px;
  }
  .built-with-taquito-logo img {
    transform: translateY(80%) !important;
  }
}

#rpc ul {
  padding-left: 0px;
}
#rpc li {
  list-style: none;
}

#dialog {
  display: inline-flex;
  flex-direction: column;
  float: left;
  width: 400px;
  height: 275px;
  border: 5px solid #35636e;
  border-radius: 3px;
  margin: 10px 20px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#rpc-dialog {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#rpc h3 {
  padding-left: 20px;
  margin-bottom: 5px;
}

#header {
  font-size: 28px;
  padding: 20px;
  background-color: #35636e;
  color: white;
}

#main-forms {
  display: flex;
  justify-content: center;
}

#content {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

#rpc-content {
  display: flex-start;
  flex-direction: column;
  float: left;
  padding: 0px 20px 20px 20px;
}

li {
  padding-bottom: 5px;
}

#rpc h3:nth-child(2) {
  padding-bottom: 0px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-top: 20px;
}

#wallet h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#address-input {
  float: left;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  border: 2px solid #35636e;
  border-radius: 3px;
  width: 85%;
}

#rpc-input {
  padding: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  border: 2px solid #35636e;
  border-radius: 3px;
  width: 75%;
}

#show-balance-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4caf50;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #4caf50;
  transition: background 0.3s, color 0.3s;
}

#show-balance-button:active,
#show-balance-button-hovered:active,
#show-balance-button:focus,
#show-balance-button-hovered:focus {
  outline: none;
}

#show-balance-button-hovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4caf50;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #4caf50;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
}

#show-balance-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
}

#show-balance-button:disabled,
#show-balance-button-hovered:disabled {
  opacity: 0.6 !important;
  background-color: #776a6a !important;
  border: 1px solid #776a6a !important;
  color: white !important;
}

#balance-output {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 48px;
  color: #333;
}

#error-message {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
  color: #c73d18;
  background: rgba(199, 61, 24, 0.3);
}

.taquito-logo {
  background-image: url("/assets/built-with-taquito.png");
}

.built-with-taquito-logo {
  display: flex;
  justify-content: flex-end;
}

.built-with-taquito-logo img {
  transform: translateY(120%);
  margin-right: 20px;
  padding-bottom: 20px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

#contract-code-editor {
  margin-bottom: 20px;
}

.left-arrow-hidden,
.right-arrow-hidden {
  cursor: pointer;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 1.5em;
  margin: auto 0;
  opacity: 0 !important;
}

.right-next-step {
  cursor: pointer;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-left: 1.5em;
  margin: auto 0;
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}

.right-next-step:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #4caf50;
  border-right: 0.5em solid #4caf50;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.left {
  cursor: pointer;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 1.5em;
  margin: auto 0;
}

.left:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right {
  cursor: pointer;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-left: 1.5em;
  margin: auto 0;
}

.right:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.5em solid #aaa;
  border-right: 0.5em solid #aaa;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Right Bounce effect on arrow-next-step */

/* right bounce */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
