body {
  overflow-x: hidden;
  display: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  color: #35636e;
}

.title-group {
  width: 630px;
  margin: 0 auto;
  line-height: 2em;
  margin-top: 70px;
}

.title-group h4 {
  margin-top: 0px;
}

#wallet {
  margin: -20px auto;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .title-group {
    width: 450px;
  }
  .title-group img {
    width: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .title-group {
    width: 300px;
  }
}

#rpc ul {
  padding-left: 0px;
}
#rpc li {
  list-style: none;
}

#dialog {
  display: inline-flex;
  flex-direction: column;
  float: left;
  width: 400px;
  height: 275px;
  border: 1px solid #35636e;
  border-radius: 3px;
  margin: 10px 20px 20px 20px;
}

#rpc-dialog {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#rpc h3 {
  padding-left: 20px;
  margin-bottom: 5px;
}

#header {
  font-size: 28px;
  padding: 20px;
  background-color: #35636e;
  color: white;
}

#main-forms {
  display: flex;
  justify-content: center;
}

#content {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

#rpc-content {
  display: flex-start;
  flex-direction: column;
  float: left;
  padding: 0px 20px 20px 20px;
}

li {
  padding-bottom: 5px;
}

#rpc h3:nth-child(2) {
  padding-bottom: 0px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-top: 20px;
}

#wallet h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#address-input {
  float: left;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  border: 1px solid #35636e;
  border-radius: 3px;
  width: 85%;
}

#rpc-input {
  padding: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  border: 1px solid #35636e;
  border-radius: 3px;
  width: 75%;
}

#show-balance-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4caf50;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #4caf50;
  transition: background 0.3s, color 0.3s;
}

#show-balance-button:active,
#show-balance-button-hovered:active,
#show-balance-button:focus,
#show-balance-button-hovered:focus {
  outline: none;
}

#show-balance-button-hovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4caf50;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #4caf50;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
}

#show-balance-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
}

#show-balance-button:disabled,
#show-balance-button-hovered:disabled {
  opacity: 0.6 !important;
  background-color: #776a6a !important;
  border: 1px solid #776a6a !important;
  color: white !important;
}

#balance-output {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 48px;
  color: #333;
}

#error-message {
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
  color: #c73d18;
  background: rgba(199, 61, 24, 0.3);
}

.taquito-logo {
  background-image: url("/assets/built-with-taquito.png");
}

.built-with-taquito-logo {
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}

.built-with-taquito-logo img {
  margin: 0 auto;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

#contract-code-editor {
  margin-bottom: 20px;
}
