.wizard-container {
  margin: 0 auto;
  margin-bottom: 12px;
  width: 550px;
}

.completed {
  background-color: #4caf50 !important;
  opacity: 0.5;
}

.step {
  color: white;
  padding-top: 5px;
  padding-right: 3px;
  padding-left: 3px;
  height: 25px;
  width: 25px;
  margin: 5px 5px;
  background-color: #776a6a;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.active {
  opacity: 1 !important;
}

.wizard-steps {
  display: flex;
  justify-content: center;
}

.wizard-steps div {
  font-weight: bold;
  cursor: default;
  width: 120px;
  margin-right: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 560px) {
  .wizard-container {
    width: 480px;
  }
  .wizard-steps div {
    margin-right: 10px;
    margin-left: 10px;
  }
  .wizard-steps div:nth-child(1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wizard-steps div:nth-child(4) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .wizard-container {
    width: 350px;
  }
  .wizard-steps div {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .wizard-steps div:nth-child(1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wizard-steps div:nth-child(4) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 350px) {
  .wizard-container {
    width: 300px;
  }
  .wizard-steps div {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .wizard-steps div:nth-child(1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .wizard-steps div:nth-child(4) {
    margin-right: 0px;
    margin-left: 0px;
  }
}
