#dialog #react-select-lookup-label {
  display: flex;
  padding-left: 0px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.network-select {
  width: 80%;
  padding-left: 20px;
}

.network-select > div {
  border: 1px solid #35636e !important;
}

.network-select > div > div > div {
  color: black;
}

.address-validation {
  color: red;
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-left: -220px;
  margin-bottom: -63px;
}

#contract-code-form .fetch-contract-button {
  margin-top: 47px !important;
}
