#dialog #react-select-lookup-label {
  display: flex;
  padding-left: 0px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.network-select {
  width: 80%;
  padding-left: 20px;
}

.network-select > div {
  border: 2px solid #35636e !important;
}

.network-select > div > div > div {
  color: black;
}

.contract-select {
  width: 90%;
  padding-left: 0px;
}

.contract-select > div {
  border: 2px solid #35636e !important;
}

.contract-select > div > div > div {
  color: black;
}

.address-validation {
  color: red;
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-left: -220px;
  margin-top: 2px;
  margin-bottom: -14px;
}

.validation-error {
  box-shadow: 0 0 5px red;
  border: 1px solid red !important;
  border-radius: 3px !important;
}

.validation-error:focus {
  box-shadow: 0 0 5px red;
  border: 1px solid red !important;
  border-radius: 3px !important;
  outline: red;
}
